<section class="contact-us" id="contact-us">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
      <div class="cnt-container">
        <div class="contact-form">
          <p class="contact-paragraph">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>
          <form class="form-list">
            <div class="form-div">
              <label class="user-label" for="user-name"></label>
              <input
                class="input-form"
                name="user-name"
                id="user-name"
                placeholder="Name"
              ></input>
            </div>

            <div class="form-div">
              <label class="user-label" for="user-email"></label>
              <input
                class="input-form"
                name="user-email"
                id="user-email"
                placeholder="Email"
              ></input>
            </div>
            <div class="form-div">
              <label class="user-label" for="user-phone"></label>
              <input
                class="input-form"
                name="user-phone"
                id="user-phone"
                placeholder="+380"
              ></input>
            </div>
            <div class="form-div">
              <label class="user-label" for="user-comment"></label>
              <textarea
                class="textarea-form"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
              ></textarea>
            </div>
            <button class="form-btn-submit" type="submit">Send</button>
          </form>
        </div>
          <picture class="img-contuct-us">
            <source media="(min-width: 1280px)" srcset="/img/contact-us/contact-us-img-desktop.jpg 1x, /img/contact-us/contact-us-img-desktop@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/contact-us/contact-us-img-tablet.jpg 1x, /img/contact-us/contact-us-img-tablet@2x.jpg 2x">
            <source media="(min-width: 375px)" srcset="/img/contact-us/contact-us-img-mobile.jpg 1x, ./img/catalog/watch-modal1-mobile@2x.jpg 2x">
            <img src="/img/contact-us/contact-us-img-desktop.jpg" alt="Garmin Fenix 7X Pro Sapphire Solar">
          </picture>
      </div>
  </div>
</section>
