<header class="header">
  <div class="container container-header">
    <a class="header-logo" href="#header">watchcharm</a>
    <nav class="header-nav">
      <ul class="header-menu-list">
        <li class="header-menu-items">
          <a class="header-link-items-home" href="/index.html">Home</a>
        </li>
        <li class="header-menu-items">
          <a class="header-link-items" href="#about-us">About Us</a>
        </li>
        <li class="header-menu-items">
          <a class="header-link-items" href="#catalog">Catalog</a>
        </li>
        <li class="header-menu-items">
          <a class="header-link-items" href="#sale">Sale</a>
        </li>
        <li class="header-menu-items">
          <a class="header-link-items" href="#reviews">Reviews</a>
        </li>
        <li class="header-menu-items">
          <a class="header-link-items" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="container-header-soc">
      <ul class="header-soc-list">
        <li class="header-soc-items">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-soc-link-menu"
          >
            <svg class="icons-soc-header" width="18" height="18">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-items">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-soc-link-menu"
          >
            <svg class="icons-soc-header" width="18" height="18">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-items">
          <a href="https://www.youtube.com/c/GoIT" class="header-soc-link-menu">
            <svg class="icons-soc-header" width="18" height="18">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <button class="header-burger">
      <svg class="header-burger-btn-menu" width="34" height="34">
        <use href="/img/sprite.svg#icon-menu-btn"></use>
      </svg>
    </button>

    <div class="backdrop">
      <div class="modal">
        <button class="header-close-mobile-menu">
          <svg class="header-btn-close-menu" width="34" height="34">
            <use href="/img/sprite.svg#icon-x-btn"></use>
          </svg>
        </button>

        <nav class="header-nav-modal">
          <ul class="header-menu-list">
            <li class="header-menu-items">
              <a class="header-link-items-home" href="./header.html">Home</a>
            </li>
            <li class="header-menu-items">
              <a class="header-link-items" href="./about-us.html">About Us</a>
            </li>
            <li class="header-menu-items">
              <a class="header-link-items" href="./catalog.html">Catalog</a>
            </li>
            <li class="header-menu-items">
              <a class="header-link-items" href="./sale.html">Sale</a>
            </li>
            <li class="header-menu-items">
              <a class="header-link-items" href="./reviews.html">Reviews</a>
            </li>
            <li class="header-menu-items">
              <a class="header-link-items" href="./contact-us.html"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>

        <div class="container-header-soc-modal">
          <ul class="header-soc-list-modal">
            <li class="header-soc-items">
              <a href="" class="header-soc-link-menu">
                <svg class="icons-soc-header" width="18" height="18">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-items">
              <a href="" class="header-soc-link-menu">
                <svg class="icons-soc-header" width="18" height="18">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="header-soc-items">
              <a href="" class="header-soc-link-menu">
                <svg class="icons-soc-header" width="18" height="18">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
