<section class="reviews">
<div class="reviews-container reviews">
  <h2 class="reviews-title">Reviews</h2>
  <div class="reviews-card">
    <div class="review-list-item">
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-container">
            <img class="reviews-image" src="../img/people/person1-56.png" width="56" height="56"
              srcset="../src/img/people/person1-56@2x.png" alt="John Wax" />
            <div class="reviews-container-link">
              <h3 class="reviews-link">John Wax</h3>
              <p class="reviews-link-text">Buying a watch from was the best choice for me. The design is
                perfectly combined with high quality materials. The strap
                fits nicely on the hand, and the mechanism works flawlessly.</p>
            </div>
          </div>

        </li>
        <li class="reviews-item hidden-on-mobile">
          <div class="reviews-container">
            <img class="reviews-image" src="../img/people/person2-56.png" width="56" height="56"
              srcset="./src/img/people/person2-56@2x.png" alt="Victoria Romashenko" />
            <div class="reviews-container-link">
              <h3 class="reviews-link">Victoria Romashenko</h3>
              <p class="reviews-link-text">Can't take my eyes off my watch from. Every time I put it on, it is
                admired by those around me. The build quality and
                attention to detail make it a real gem among my accessories.</p>
            </div>
          </div>
        </li>
        <li class="reviews-item hidden-on-mobile hidden-on-tablet">
          <div class="reviews-container">
            <img class="reviews-image" src="../img/people/person3-56.png" width="56" height="56"
              srcset="./src/img/people/person3-56@2x.png" alt="Anastasia Trachuk" />
            <div class="reviews-container-link">
              <h3 class="reviews-link">Anastasia Trachuk</h3>
              <p class="reviews-link-text">My watch from is a real masterpiece. Every detail impresses with
                the high quality of execution. Special features like
                long battery life and sleek design make it an indispensable companion in my daily life.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
