.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advertisement {
    background-color: #0c0c0c;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    max-width: 335px;
    height: 363px;
   padding-top: 30px;
  padding-bottom: 30px;
    background-size: cover;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .advertisement {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-mobile@2x.jpg);
    }}
.ad-cont{
    padding-top: 60px;
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.adver-p{
        width: 279px;
        font-family: "Gilroy", sans-serif;
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #fbfbfb;
        margin-bottom: 32px;}

.adver-ps {
    color: rgba(251, 251, 251, 0.5);
}
.adver-but {
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;
    display: block;
  padding-top: 15px;
    font-family: "Gilroy", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        text-align: center;
        color: #fbfbfb;
        background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.adver-but:hover, .adver-but:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
 @media screen and (min-width: 768px) {
    .advertisement {
            background-color: #0c0c0c;
            background-image: linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-tablet.jpg);
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 30px;
            max-width: 704px;
            height: 425px;
            margin: 40px auto;
            background-size: cover;
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    .advertisement {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),
                        rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-tablet@2x.jpg);
            }
        }
    .ad-cont {
            padding-top: 80px;
            padding-left: 64px;}

    .adver-p {
            width: 576px;
            height: 185px;
            font-weight: 600;
            font-size: 48px;
            line-height: 0.91;
            letter-spacing: -0.02em;
        }
 }
 @media screen and (min-width: 1280px) {
     .advertisement {
         background-color: #0c0c0c;
         background-image: linear-gradient(to bottom,
                 rgba(0, 0, 0, 0.8),
                 rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-desktop.jpg);
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 30px;
         max-width: 1150px;
         height: 298px;
         margin: 50px auto;
         background-size: cover;
     }

     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
         .advertisement {
             background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),
                     rgba(0, 0, 0, 0.8)), url(../img/advertisment/advertisement-img-desktop@2x.jpg);
         }
     }
        .adver-p {
            width: 690px;
            font-weight: 600;
            font-size: 48px;
            line-height: 0.91;
            letter-spacing: -0.02em;
        }
        .ad-cont {
            padding-top: 83px;
            padding-left: 80px;
            flex-direction: row;
            justify-content: space-between;
                }
    }
