h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 48px;
        line-height: 0.92;
        padding-bottom: 40px;
    }
}

.catalog {
    padding-top: 30px;
    padding-bottom: 30px;
}

.catalog-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.catalog-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    background: #f3f3f3;
}

.catalog-item:hover, .catalog-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.catalog-img {
    display: flex;
    justify-content: center;
}

.catalog-item .container {
    padding: 24px 28px;
}

.catalog-watch-name {
    height: 18px; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #0C0C0C;
}

.catalog-watch-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
    padding-top: 8px;
}

.catalog-list .catalog-item:nth-last-child(-n+2){
    display: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.catalog-btn {
    width: 160px;
    height: 48px;
    border-radius: 16px;
    border: none;
    background: #3350E9;
    color: #FBFBFB;  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.catalog-btn:hover, .catalog-btn:focus {
    background: #1F3CD4;
}

@media screen and (min-width:320px) and (max-width:374.99px) {
    .catalog-list {
        max-width: 100%;
        display: block;
    }

    .catalog-item {
        margin-bottom: 20px;
    }

    .catalog-item:nth-child(4){
        margin-bottom: 0;
    }

    .catalog-item .container {
        min-width: 224px;
    }

    .catalog-img {
        text-align: center;
    }
}

@media screen and (min-width:375px) {

    .catalog-item {
        width: 335px;
        height: 364px; 
    }

    .catalog-img {
        display: flex;
        justify-content: center;
    }

    .catalog-watch-name {
        width: 280px;
    }
}

@media screen and (min-width:768px){
    .catalog-list{
        column-gap: 16px;
        row-gap: 32px;
    }

    .catalog-item {
        width: 344px;
        height: 414px; 
    }

    .catalog-item .container {
        padding: 24px 32px;
    }

    .catalog-watch-name {
        font-size: 20px;
        line-height: 1;
    }

    .catalog-list .catalog-item:nth-last-child(-n+2){
        display: flex;
    }

    .btn{
        display: none;
    }
}

@media screen and (min-width:1280px){
    .catalog-list{
        column-gap: 23px;
    }

    .catalog-item {
        width: 368px;
    }

    .catalog-watch-name {
        width: 304px;
    }
}