.container-header {
display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    margin: 0 auto;
    position: relative;
    justify-content: space-between;
    padding: 26px;
}

.header-logo {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-close-mobile-menu {
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-close-menu {
    stroke-width: 2.50px;
    stroke: #fbfbfb;
}

.header-nav {
display: flex;
gap: 10px;
position: relative;
    color: #FBFBFB;
}

.header-menu-list {
    display: none
}

.header-menu-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
}

.header-link-items-home {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #FBFBFB;
}

.header-link-items-home::after {
    content: '';
    width: 9px;
    height: 8px;
    background-color: #3350e9;
    border-radius: 100%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.header-link-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #FBFBFB;
}

.container-header-soc-modal {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 40px;
}

.header-soc-list {
    display: flex;
    gap: 10px;
    z-index: 102;
}

.header-soc-items {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}

.icons-soc-header {
    fill: #FBFBFB;
}

.backdrop {
    position: fixed;
    top: 0;
    min-width: 200px;
    height: 100%;
    background-color: #fff;

    overflow-y: auto;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: right 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    right: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-burger,
.header-mobile-menu{
border: none;
background: none;
}

.header-burger-btn-menu {
    stroke-width: 2.50px;
    stroke: #0c0c0c;
}

.modal {
    max-width: 320px;
    height: 100%;
    background-image: url(../img/header/watch-header-menu.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    background-size: cover;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.backdrop.is-open .header-menu-list {
    display: flex;
    color: #FBFBFB;
    flex-direction: column;
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header-nav-modal{
position: relative;
color: #FBFBFB;
z-index: 101;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .header-burger{
    display: block;
    }

    .backdrop {
        min-width: 330px;
    }

.header-close-mobile-menu {
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn-close-menu {
    stroke-width: 2.50px;
    stroke: #fbfbfb;
}

.container-header-soc-modal {
    padding-bottom: 50px;
}

.header-soc-list {
    display: flex;
    z-index: 102;
}

.header-soc-items {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}

.icons-soc-header {
    fill: #FBFBFB;
}
}

@media screen and (min-width: 1280px) {
.header-burger,
.header-mobile-menu {
    display: none;
    border: none;
    background: none;
    }

.header-menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    }

.header-soc-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons-soc-header {
    fill: #0c0c0c;
}

.header-soc-items {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}

.backdrop {
    display: none;
}

.header-link-items-home,
.header-link-items {
    color: #0c0c0c;
}
}