.hero {
    padding-top: 60px;
}

.hero-container {}

.hero-wrapper {
    margin-bottom: 28px;
}

.hero-describe {}

.hero-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    line-height: 95%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 20px;
}

.highlight {
    color: var(--accent);
}

.hero-description {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.team-avatars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.team-avatars-img {}

.scroll-down {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main);
}

.scroll-down:hover,
.scroll-down:focus {
    color: var(--accent);
}

.hero-image {}

.hero-image-img {
    border-radius: 30px;
}

@media only screen and (min-width: 768px) {
    .hero {
        padding-top: 80px;
    }

    .hero-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .hero-describe {
        margin-bottom: 0px;
    }

    .team-avatars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .hero-title {
        font-size: 70px;
        line-height: 0.86;
        max-width: 557px;
    }

    .hero-description {
        font-size: 16px;
        line-height: 1.25;
        max-width: 480px;
    }

    .scroll-down {
        font-size: 20px;
        line-height: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .hero-title {
        font-size: 72px;
        line-height: 0.88;
        max-width: 597px;
    }
}