/* #Reviews*/
.reviews {
 padding-top: 30px;
padding-bottom: 30px;
}

.reviews-title {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    padding-top: 0;
    padding-bottom: 24px;
    width: 114px;
    height: 32px;
    
}

.reviews-list {
    padding-top: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  
}

.reviews-item {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    width: 100%;
    height: auto;
    background: #f3f3f3;
    text-align: center;
    margin: 0 auto;
}

.hidden-on-mobile {
    display: none;
}

.hidden-on-tablet {
    display: none;
}

.reviews-image {
    border-radius: 100%;
    stroke-width: 2px;
    stroke: #fbfbfb;
    margin: 0 auto;
}

.reviews-link-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 263px;
    height: 118px;
    padding-top: 24px;
}

.reviews-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
    font-family: "Gilroy", sans-serif;
}

.reviews-link-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.23;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(12, 12, 12, 0.4);
    font-family: "Gilroy", sans-serif;
    padding-top: 8px;
}

@media screen and (min-width: 768px) {
  
    .reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    }
    .reviews-title {
    font-size: 48px;
    line-height: 0.92;
    
    }

  

    .reviews-list {
        
            padding-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;  
    }

    .hidden-on-mobile {
    display: block;
    }

    .hidden-on-tablet {
    display: none;
    }

    .reviews-link-text {
    width: 272px;
    height: 128px;
    }
}
@media screen and (min-width: 1280px) {
    .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
        }
    .reviews-title {
    
    }
    
    .reviews-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   
    padding-top: 40px;
    }

    .hidden-on-mobile,
    .hidden-on-tablet {
    display: block;
    }

    .reviews-item {
    width: 100%;
    }

    .reviews-link-text {
    width: 298px;
    height: 128px;
    }
}

/* #Reviews  */